<h1>${title}</h1>
<form action="/" method="post" id='rankingForm'>
    ${data.map(rankingthing => {
        return `<div>${rankingthing.language} - I am 
            <select value="${rankingthing.language}" name="${rankingthing.language}">
                <option value="" selected disabled hidden>${rankingthing.ranking}</option>"
                ${rankingData.map(ranking => {
                    return `<option value="${ranking.id}">${ranking.ranking}</option>`
                }
                ).join('')}
            </select>
             at ${rankingthing.language}
            </div>`
        })
    .join('')}
    <div>
        <input type="submit" value ="submit">
        <input name= "reset" type="submit" value="reset">
    </div>
    
</form>

<div id="actionItem">
    <button id="anotherButton">Heyo</button>
</div>
